{#
 |------------------------------------------------------------------------------
 | Default layout
 |------------------------------------------------------------------------------
#}

{% extends '_utils/variables' %}

{% block html %}
    <!DOCTYPE html><!--[if lt IE 9]><html class="no-js lt-ie9" lang="{{ LANG }}" dir="ltr"><![endif]--><!--[if gt IE 8]><!-->
    <html class="no-js" lang="{{ LANG }}" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        {% block meta %}{% hook "seo" %}{% endblock %}
        {% block styles %}{% endblock %}
        {{ head() }}
    </head>
    <body vocab="http://schema.org/" typeof="WebPage" class="{{ BODY_CLASS }}">
        {{ beginBody() }}
        {% block page %}{% endblock %}
        {% block scripts %}{% endblock %}
        {{ endBody() }}
    </body>
    </html>
{% endblock %}
