{#
 |------------------------------------------------------------------------------
 | Gallery
 |------------------------------------------------------------------------------
 | You can customize the following from the block "Settings" tab:
 | - Add custom HTML attributes to the column
 |------------------------------------------------------------------------------
#}

{% import "_macros/utils" as utils %}

{# Set default html attributes for the block #}
{% set defaultAttr = {
    class: [
        'wb-lbx',
        'lbx-gal'
    ]
} %}

{# Set the custom attributes for the block #}
{% set customAttr = block.customAttributes.all() ?? null %}

{# Custom transform for thumbnails #}
{% set thumbnail = {
    mode: 'crop',
    width: 150,
    height: 150,
    quality: 75,
    position: 'center-center'
} %}

{# Output the block #}
<div{{ utils.attr(defaultAttr, customAttr) }}>
    <ul class="list-inline">
        {% for item in block.galleryItems.all() %}
            <li>
                {% set img = item.image.one() ?? null %}
                {% if img %}
                    <a href="{{ img.url }}" title="{{ item.caption }}">
                        <img src="{{ img.getUrl(thumbnail) }}" alt="{{ item.caption }}" width="150" height="150" class="img-thumbnail">
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
