{#
 |------------------------------------------------------------------------------
 | Image Box
 |------------------------------------------------------------------------------
 | You can customize the following from the block "Settings" tab:
 | - Add custom HTML attributes to the column
 | - Select the image box style
 |
 | @see https://wet-boew.github.io/v4.0-ci/docs/ref/data-picture/data-picture-en.html
 | @todo Implement data-picture
 | @todo DRY it up, nasty switch statement, tons of repeated stuff, etc...
 | @todo Add entry field
 |------------------------------------------------------------------------------
#}

{% import "_macros/utils" as utils %}

{# Set the custom attributes for the block #}
{% set customAttr = block.customAttributes.all() ?? null %}

{# Fetch the image box asset #}
{% set image = block.image.one() ?? null %}

{# Format the image box title #}
{% set blockTitle = block.elementTitle ?? null %}

{# Format the image box content #}
{% set blockContent = block.redactorSimple|raw %}

{# Output only if one of these variables actually have content #}
{% if image or blockTitle or blockContent|length %}
    {% switch block.imageBoxStyle %}
        {% case "titleAbove" %}

            {# Set default html attributes for the block #}
            {% set defaultAttr = {
                href: block.elementLinkSimple.url ?? "#",
                target: block.elementLinkSimple.target ?? null,
                class: [ "title-above" ]
            } %}

            {# Set image transform #}
            {% set imageTransform = { mode: "crop", width: 1130, height: 645, quality: 80, position: "center center" } %}

            {# Output the image box #}
            <a{{ utils.attr(defaultAttr, customAttr) }}>
                <figure>
                    {% if blockTitle %}
                        <figcaption>{{- blockTitle -}}</figcaption>
                    {% endif %}
                    {{ utils.getTransformedImage(image, imageTransform, "img-responsive thumbnail mrgn-bttm-sm") }}
                    {{- blockContent -}}
                </figure>
            </a>

        {% case "titleBelow" %}

            {# Set default html attributes for the block #}
            {% set defaultAttr = {
                href: block.elementLinkSimple.url ?? "#",
                target: block.elementLinkSimple.target ?? null,
                class: [ "title-below" ]
            } %}

            {# Set image transform #}
            {% set imageTransform = { mode: "crop", width: 1130, height: 645, quality: 80, position: "center center" } %}

            {# Output the image box #}
            <a{{ utils.attr(defaultAttr, customAttr) }}>
                <figure>
                    {{ utils.getTransformedImage(image, imageTransform, "img-responsive thumbnail mrgn-bttm-sm") }}

                    {% if blockTitle %}
                        <figcaption>{{- blockTitle -}}</figcaption>
                    {% endif %}

                    {{- blockContent -}}
                </figure>
            </a>

        {% case "thumbnailTile" %}

            {# @see https://wet-boew.github.io/wet-boew-styleguide/design/images-en.html #}
            {# Set default html attributes for the block #}
            {% set defaultAttr = {
                class: [
                    "thumbnail"
                ]
            } %}

            {# Set image transform #}
            {% set imageTransform = { mode: "crop", width: 1130, height: 645, quality: 80, position: "center center" } %}

            {# Output the image box #}
            <figure{{ utils.attr(defaultAttr, customAttr) }}>
                <a href="{{ block.elementLinkSimple.url ?? '#' }}" target="{{ block.elementLinkSimple.target ?? null }}">
                    {{ utils.getTransformedImage(image, imageTransform, "img-responsive full-width") }}
                </a>
                <figcaption class="caption">
                    {% if blockTitle %}
                        <h4>{{- blockTitle -}}</h4>
                    {% endif %}

                    {{- blockContent -}}

                    {% if block.elementLinkSimple %}
                        <ul class="list-inline">
                            <li>
                                <a href="{{ block.elementLinkSimple.url }}"
                                    class="btn btn-primary"
                                    role="button">
                                    {{- "Learn more"|t -}}
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </figcaption>
            </figure>

        {% case "wellTile" %}

            {# @see https://wet-boew.github.io/themes-dist/GCWeb/home-en.html under "Government initiatives" #}
            {# Set default html attributes for the block #}
            {% set defaultAttr = {
                href: block.elementLinkSimple.url ?? null,
                target: block.elementLinkSimple.target ?? null,
                class: [
                    "figcaption"
                ]
            } %}

            {# Set image transform #}
            {% set imageTransform = { mode: "crop", width: 1120, height: 430, quality: 80, position: "center center" } %}

            {# Output the image box #}
            <a{{ utils.attr(defaultAttr, customAttr) }}>
                <figure class="well well-sm brdr-rds-0">
                    {{ utils.getTransformedImage(image, imageTransform, "img-responsive full-width") }}
                    {% if blockTitle %}
                        <figcaption class="h5">{{- blockTitle -}}</figcaption>
                    {% endif %}
                    {{- blockContent -}}
                </figure>
            </a>

        {% case "mediaObjectLeft" %}

            {# Set default html attributes for the block #}
            {% set defaultAttr = {
                class: [
                    "media"
                ]
            } %}

            {# Set image transform #}
            {% set imageTransform = { mode: "crop", width: 64, height: 64, quality: 100, position: "center center" } %}

            {# Output the image box #}
            <section{{ utils.attr(defaultAttr, customAttr) }}>
                <a href="{{ block.elementLinkSimple.url ?? '#' }}" target="{{ block.elementLinkSimple.target ?? null }}" class="pull-left">
                    {{ utils.getTransformedImage(image, imageTransform, "media-object") }}
                </a>
                <div class="media-body">
                    {% if blockTitle %}
                        <h5 class="media-heading">{{- blockTitle -}}</h5>
                    {% endif %}
                    {{- blockContent -}}
                </div>
            </section>

        {% case "mediaObjectRight" %}

            {# Set default html attributes for the block #}
            {% set defaultAttr = {
                class: [
                    "media"
                ]
            } %}

            {# Set image transform #}
            {% set imageTransform = { mode: "crop", width: 64, height: 64, quality: 100, position: "center center" } %}

            {# Output the image box #}
            <section{{ utils.attr(defaultAttr, customAttr) }}>
                <a href="{{ block.elementLinkSimple.url ?? '#' }}" target="{{ block.elementLinkSimple.target ?? null }}" class="pull-right">
                    {{ utils.getTransformedImage(image, imageTransform, "media-object") }}
                </a>
                <div class="media-body">
                    {% if blockTitle %}
                        <h5 class="media-heading">{{- blockTitle -}}</h5>
                    {% endif %}
                    {{- blockContent -}}
                </div>
            </section>

    {% endswitch %}
{% endif %}
