{#
 |------------------------------------------------------------------------------
 | Breadcrumb
 |------------------------------------------------------------------------------
 | Generate a simple breadcrumb from a URL. It's a good fit for websites that
 | have descriptive and meaningful URLs. The home page link can be overwritten
 | with Canada.ca URL from the settings page in the Globals area.
 |
 | @see https://plugins.craftcms.com/breadcrumb
 |------------------------------------------------------------------------------
#}

{% set breadcrumb = craft.breadcrumb.config %}

{% if breadcrumb %}
<nav id="wb-bc"  property="breadcrumb">
    <h2 class="wb-inv">{{ 'You are here:'|t }}</h2>
    <div class="container">
        <ol class='breadcrumb'>
            {# If configured to do so, use Canada.ca as the home page link #}
            {% if headerSettings.pointHomeToCanadaCa %}
                {% set crumbUrl = 'https://www.canada.ca/' ~ LANG ~ '.html' %}
                {% set crumbTitle = 'Home'|t %}
                <li class="c-breadcrumb__item">
                    <a class="c-breadcrumb__link" href="{{ crumbUrl }}">
                        <span>{{ crumbTitle }}</span>
                    </a>
                </li>
            {% endif %}

            {% for crumb in breadcrumb %}
                {# Ignore last item (current page) #}
                {% if not loop.last %}
                    {% set crumbTitle, crumbUrl = crumb.title, crumb.url %}
                    <li class="c-breadcrumb__item">
                        <a class="c-breadcrumb__link" href="{{ crumbUrl }}">
                            <span>{{ crumbTitle }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</nav>
{% endif %}
